@model LoginVm

@{
    Layout = "~/Views/Shared/_loginLayout.cshtml";
}
<style>
    input {
        border: 3px solid white ;
        padding: 10px; 
        width: 300px
    }

 
</style>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" class="signin-form">

            <div class="forms-gds">
                <div>
                    <input asp-for="Username" placeholder="Kullanıcı Adı" required />
                </div>

                <div class="form-input">

                    <input asp-for="Password" placeholder="Password" required />
                </div>
                <div class="form-input">
                    <input type="submit" value="Giriş Yap" class="btn" style="background-color:orchid; color:white; border:3px; padding: 10px; width: 300px " />
                </div>
            </div>
            <h6 class="already"> Hesabınız yok mu? <a href="/User/Register/"><span>Kaydol<span></span></span></a></h6>
        </form>
    </div>
</div>

