@model RegisterViewModel
@{
    Layout = null;
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->




							<form asp-action="Register" method="post">
								<label for="username">Kullanıcı Adı</label>
								<input type="text" id="username" name="username" required />

								<label for="password">Şifre</label>
								<input type="password" id="password" name="password" required />

								<label for="role">Rol</label>
								<select id="role" name="Role" required>
									<option value="Student">Öğrenci</option>
									<option value="Teacher">Öğretmen</option>
								</select>
								<button type="submit">Kayıt Ol</button>
							</form>
